.container {
    max-width: 1000px;
    margin: 0 auto;
}



/* -------------------------------------------------------------------------- */
/*                                  ABOUT                                     */
/* -------------------------------------------------------------------------- */
#aboutMe {
    width: 1150px;
    height: 450px;
    padding-top: 4em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

#aboutMe .picProfile {
    top: -80px;
    left: 10%;
    width: 168px;
    height: 168px;
}

#aboutMe .container_about{ 
    display: flex;
    flex-direction: column;
    margin: auto;
}


#aboutMe .container_about h2{
    padding: 0.6em 0;
    font-size: 30px;
}

#aboutMe .container_about .phone, #aboutMe .container_about .mail, #aboutMe .container_about .age, #aboutMe .container_about .adresse{
    font-size: 12px;
    line-height: 19px;

    width: auto;
    padding-left: 2.2em;
}

#aboutMe .container_about .phone span, #aboutMe .container_about .mail span, #aboutMe .container_about .adresse span, #aboutMe .container_about .age span{
    padding-left: .9em;
    font-size: 16px;
}
    
#aboutMe .container_about .phone i, #aboutMe .container_about .mail i, #aboutMe .container_about .adresse i, #aboutMe .container_about .age i{
    font-size: 1.4em;
}


/* -------------------------------------------------------------------------- */
/*                                  DESCRIPTION                               */
/* -------------------------------------------------------------------------- */

#aboutMe .description{
    padding: 0 3em;
    grid-column-start: 2;
    grid-column-end: 4;
}

#aboutMe .description .desktop{
    display: initial;
}




/* -------------------------------------------------------------------------- */
/*                                  EDUCATION                                 */
/* -------------------------------------------------------------------------- */

#education .poudlard {
    width: 50%;
}

#education .diplomas {
    display: flex;
    justify-content: space-around;
}

/* -------------------------------------------------------------------------- */
/*                                   CONTACT                                  */
/* -------------------------------------------------------------------------- */
#contact  form {
    max-width: 55%;
    margin: 0 auto;
}

#contact .name_info {
    display: flex;
}

#contact .name_info input:first-child {
    margin-right: 20px;
}